<%= form_for(@experimento) do |f| %>
  <% if @experimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experimento.errors.count, "error") %> prohibited this experimento from being saved:</h2>

      <ul>
      <% @experimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apu %><br>
    <%= f.text_field :apu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
