<h1>Listing experimentos</h1>

<table>
  <thead>
    <tr>
      <th>Apu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experimentos.each do |experimento| %>
      <tr>
        <td><%= experimento.apu %></td>
        <td><%= link_to 'Show', experimento %></td>
        <td><%= link_to 'Edit', edit_experimento_path(experimento) %></td>
        <td><%= link_to 'Destroy', experimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experimento', new_experimento_path %>
